  <div class="slider-content">
    <div class="slider-text">
      <a id="mock_payment" href="#" style="text-decoration: none">
        <h3>The Art Of Asking</h3>
        <p><span class="price">XBT 0.0000015</span></p>
        <p><small>Buy Now!</small></p>
      </a>
    </div>
    <div class="slider-image">
      <img src="/img/chair.png" alt="Image of chair">
    </div>
  </div>

  <script defer="defer" type="text/javascript">
    function startPayment (req) {
      console.log("startPayment", req);
      BitcoinExpress.Wallet.Open(req).then(function(container) {
        // an object containing the PaymentAck
        if ("PaymentAck" in container) {
          let PaymentAck = container.PaymentAck;
          if ("status" in PaymentAck) {
            console.log("Status is "+PaymentAck.status);
            if (PaymentAck.status == "ok" && "return_url" in PaymentAck) {
              try {
                new URL(PaymentAck.return_url);
                setTimeout(function () {
                  return window.location.replace(PaymentAck.return_url);
                }, 5000);
              } catch (_) {
              }
            }
          }
        }
      }).catch(function(err) {
        console.log("PaymentRequest returned ", err);
      });
    };

    document.getElementById("mock_payment").addEventListener('click', function () {
      startPayment({
        fullScreen: false,
        PaymentRequest: {
          payment_details_version: "1",
          PaymentDetails: {{{json paymentDetails}}}
        }
      });
    });
  </script>
